@font-face {
    font-family: 'Antipasto Pro';
    src: url('AntipastoPro-DemiBold.woff2') format('woff2'),
        url('AntipastoPro-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

